@import 'reset.css';

body {
    font-size: 16px;
}

/* header css */

/* 16 * x */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 48px;
    background-color: #12002317;
}

.header h1 {
    font-size: 1.8rem;
}

.navbar a {
    text-decoration: none;
    color: #120023;
    margin-left: 12px;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .header h1 {
        font-size: 1.5rem;
        margin-bottom: 12px;
    }
}

/* main section css */

.container {
    padding: 64px 48px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.hero_content,
.hero_img {
    width: 48%;
}

.hero_content h2 {
    font-size: 3rem;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.hero_content p {
    font-size: 1.25rem;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.45rem;
    margin: 12px 0;
}

.hero_content button {
    background: transparent;
    padding: 6px 18px;
    font-size: 1.2rem;
    text-transform: capitalize;
    border-radius: 4px;
    margin-top: 12px;
}

.hero_img img {
    width: 100%;
}

@media screen and (max-width: 768px) {

    .container {
        padding: 26px 18px;
    }

    .hero {
        flex-direction: column-reverse;
    }

    .hero_content,
    .hero_img {
        width: 100%;
    }

    .hero_content {
        margin-top: 24px;
    }


    .hero_content h2 {
        font-size: 1.75rem;
        line-height: 1.2;
    }
}

/* Product Card section */

.product {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 30%;
}

.card img {
    width: 100%;
}

.card h3 {
    font-size: 1.75rem;
    line-height: 1.5;
    margin: 12px 0;
    font-weight: 600;
}

.card p {
    font-size: 1.25rem;
    margin-bottom: 12px;
    line-height: 1.2;
}

.card button {
    background: transparent;
    padding: 4px 16px;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    font-size: 1.1rem;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .product {
        flex-direction: column;
    }

    .card {
        width: 100%;
        padding: 12px;
        border: 1px solid #b8b8b8;
        margin-bottom: 24px;
    }
}

/* footer */

.footer {
    padding: 24px 48px;
    border-top: 1px solid #000;
}

.footer p {
    text-align: center;
}

@media screen and (max-width: 768px) {}

.overview_box {
    position: absolute;
    background: red;
    bottom: 0;
    left: 0;
    width: 75%;
    padding: 24px;
    display: flex;
    color: white;
}

.overview_box p {
    margin: 0 12px;
}
